* {
  box-sizing: border-box;
}

.movies-row {
  display: flex;
  flex-wrap: wrap;
}

h2 {
  width: 100%;
}

h5 {
  margin-top: 20px;
}

.movies-item {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

p {
  padding: 0 20px;
  flex-grow: 1;
}

a {
  width: 140px;
}
