<div class="row">
  <div class="col-md-2">
    <h2>Heading</h2>
    <p>Description Description Description Description Description Description</p>
    <p class="btn btn-primary">Button</p>
  </div>
  <div class="col-md-2">
    <h2>Heading</h2>
    <p>Description Description Description Description Description Description</p>
    <p class="btn btn-primary">Button</p>
  </div>
  <div class="col-md-2">
    <h2>Heading</h2>
    <p>Description Description Description Description Description Description</p>
    <p class="btn btn-primary">Button</p>
  </div>
  <div class="col-md-2">
    <h2>Heading</h2>
    <p>Description Description Description Description Description Description</p>
    <p class="btn btn-primary">Button</p>
  </div>
  <div class="col-md-2">
    <h2>Heading</h2>
    <p>Description Description Description Description Description Description</p>
    <p class="btn btn-primary">Button</p>
  </div>
  <div class="col-md-2">
    <h2>Heading</h2>
    <p>Description Description Description Description Description Description</p>
    <p class="btn btn-primary">Button</p>
  </div>
</div>
