<div class="row movies-row">
  <h2>Results:</h2>
  <div class="col-md-3 movies-item" *ngFor="let movie of movies">
    <h5><a [routerLink]="['/movie/', movie.id]">{{movie.title}}</a></h5>
    <div *ngIf="movie.poster_path">
      <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2{{movie.poster_path}}" style="width: 100%" [routerLink]="['/movie/', movie.id]">
    </div>
    <div *ngIf="!movie.poster_path">
      <div class="no-image">No preview image available</div>
    </div>
    <p>{{movie.overview}}</p>
    <a class="btn btn-primary movie-button" href="https://www.themoviedb.org/movie/{{movie.id}}">Check it out</a>
  </div>
</div>
